
<html lang="en" ng-app="RegApp">

    <header>
        <meta charset="UTF-8">
        <title> Clone from Bitbucket </title>

        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.css" />
        <link rel="stylesheet" href="/main.css" />

    </header>

    <body ng-cloak>
        <div class = "col-sm-2 col-lg-4"></div>

        <div ng-controller="RegCtrl as ctrl" class="col-sm-8 col-lg-4 registration-page">
        <h1>Registration</h1>

        <form name="registrationform" ng-submit="registrationform.$valid && ctrl.onSubmit() && ctrl.end()" novalidate>
             <!-- email -->
            <div class="form-group" ng-hide="ctrl.showResult">
                <label for="email">Email Address</label>
                <input id="email" name="email" type="email" placeholder="you@domain.com" class="form-control" ng-model="ctrl.user.email" required /> 
                <!-- use data for form field form.field.state-->
                <div class="validation" data-ng-show="registrationform.email.$touched || registrationform.$submitted">
                <div data-ng-show="registrationform.email.$error.required">
                        <span class="glyphicon glyphicon-alert"></span>Email is required
                </div>
                <div data-ng-show="registrationform.email.$error.email">
                        <span class="glyphicon glyphicon-alert"></span>Email must be valid 
                </div>
            </div>
        </div>
        
            <!-- password -->
            <div class="form-group" ng-hide="ctrl.showResult">
                <label for="password">Password</label>
                <input id="password" name="password" type="password" placeholder="secret" class="form-control" ng-model="ctrl.user.password" minlength="8" ng-pattern="/^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$/" required/>
                <div class="validation" data-ng-show="registrationform.password.$touched || registrationform.$submitted">
                <div data-ng-show="registrationform.password.$error.required">
                    <span class="glyphicon glyphicon-alert"></span>Password is required
                </div>
                <div data-ng-show="registrationform.password.$error.minlength">
                     <span class="glyphicon glyphicon-alert"></span>Password must be at least 8 characters
                </div>
                <div data-ng-show="registrationform.password.$error.pattern">
                    <span class="glyphicon glyphicon-alert"></span>Password must include special characters (!@#$%^&*), alphanumeric and both uppercase and lowercase
                </div>

                </div>
            </div>

             <!-- confirm password ng-required depends on another field-->
            <div class="form-group" ng-hide="ctrl.showResult">
                <label for="confirmpassword">Confirm Password</label>
                <input id="confirmpassword" name="confirmpassword" type="password" placeholder="match password" ng-model="ctrl.user.confirmpassword" class="form-control" required ng-required="ctrl.user.password"/>
                <div class="validation" data-ng-show="registrationform.confirmpassword.$touched || registrationform.$submitted">
            <!-- ctrl.user.password compare user input and not registrationform.password -->
                <div data-ng-show="ctrl.user.password != ctrl.user.confirmpassword">
                    <span class="glyphicon glyphicon-alert"></span>Password does not match
                </div>
             <!-- 
                <div data-ng-show="registrationform.confirmpassword.$error.required">
                    <span class="glyphicon glyphicon-alert"></span>Confirm Password is required
                </div>
            -->
                </div>
            </div>

             <!-- name -->
            <div class="form-group" ng-hide="ctrl.showResult">
                <label for="fullname">Full Name</label>
                <input id="fullname" name="fullname" type="text" placeholder="John Doe" ng-model="ctrl.user.fullname" class="form-control" required/>
                <div class="validation" data-ng-show="registrationform.fullname.$touched || registrationform.$submitted">
                    <div data-ng-show="registrationform.fullname.$error.required">
                        <span class="glyphicon glyphicon-alert"></span>Fullname is required
                    </div>
                </div>
            </div>
            <!-- gender -->
            <!-- to select the radio button by default use ng-checked="true" -->
            <div class="form-group" ng-hide="ctrl.showResult">
                <label for="gender">Gender</label><br>
                <input id="gender" name="gender" ng-model="ctrl.user.gender" type="radio" value="M" placeholder="M"/>Male <br>
                <input id="gender" name="gender" ng-model="ctrl.user.gender" type="radio" value="F" placeholder="F" ng-checked="true" />Female
                <!-- custom validation-->
                <div class="validation" data-ng-show="ctrl.user.gender == 'M' || registrationform.gender.$untouched && ctrl.onlyFemale == false" >
                    <span class="glyphicon glyphicon-alert"></span>Female only
                </div>
             </div>
             <!-- date of birth -->
            <div class="form-group" ng-hide="ctrl.showResult">
                <label for="dob">Date of Birth</label><br>
                <input id="dob" name="dob" type="date" ng-model="ctrl.user.dob" class="form-control" required/>
                <div class="validation" data-ng-show="registrationform.address.$touched || registrationform.$submitted">
                    <div data-ng-show="registrationform.dob.$error.required">
                        <span class="glyphicon glyphicon-alert"></span>Date of birth is required
                    </div>
                </div>
            </div>
             <!-- address-->
            <div class="form-group" ng-hide="ctrl.showResult">
                <label for="address">Address</label><br>
                <input id="address" name="address" type="text" ng-model="ctrl.user.address" class="form-control" required/>
            <div class="validation" data-ng-show="registrationform.address.$touched || registrationform.$submitted">
                    <div data-ng-show="registrationform.address.$error.required">
                        <span class="glyphicon glyphicon-alert"></span>Address is required
                    </div>
            </div>
            </div>  
             <!-- nationality-->
            <div class="form-group" ng-hide="ctrl.showResult">
                <label for="nationality">Nationality</label><br>
                <select ng-model="ctrl.user.selectedNationality" class="form-control" id="nationality" required />
                    <option ng-repeat="nationality in ctrl.nationalities" value="{{nationality.value}}">{{nationality.name}}</option>
                </select>
                <div class="validation" data-ng-show="registrationform.nationality.$touched || registrationform.$submitted">
                    <div data-ng-show="registrationform.nationality.$error.required">
                        <span class="glyphicon glyphicon-alert"></span>Nationality is required
                    </div>
                </div>
            </div>
            
             <!-- contact number-->
            <div class="form-group" ng-hide="ctrl.showResult">
                <label for="contact">Contact Number</label><br>
                <input id="contact" name="contact" type="number" ng-model="ctrl.user.contact" class="form-control" required />
                <div class="validation" data-ng-show="registrationform.contact.$touched || registrationform.$submitted">
                    <div data-ng-show="registrationform.contact.$error.required">
                        <span class="glyphicon glyphicon-alert"></span>Contact Number is required
                     </div>
                </div>
            </div>

            <div class="form-group" ng-hide="ctrl.showResult">
                <hr/>
                <input id="submit" name"submit" type="submit" class="btn btn-success" />
                <input type="button" class="btn btn-default" ng-click="ctrl.reset()" value="Reset" />
            </div>

            <div ng-show="ctrl.showResult">
                    <div style="text-align:center">
                        <h3>Thank you for your submission!</h3>
                    </div>
            </div>

        </form>
    </div>

        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/bower_components/angular/angular.min.js"></script>
        <script src="/app/app.module.js"></script>
        <script src="/app/app.controller.js"></script>

    </body>
</html>




<!-- Starter code

<html lang="en" ng-app="RegApp">

    <header>
        <meta charset="UTF-8">
        <title> Day 7 </title>

        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.css" />
        <link rel="stylesheet" href="/css/main.css" />

    </header>

    <body>

        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/bower_components/angular/angular.min.js"></script>
        <script src="/app/app.module.js"></script>
        <script src="/app/app.controller.js"></script>

    </body>

</html>

-->

<!-- showResult
<input id="submit" name="submit" type="submit" class="btn btn-success" ng-click="ctrl.end()"/> 
-->


